<footer class="d-flex flex-row-nowrap justify-content-center p-10">
    <div class="flex-fill content d-flex flex-row nowrap justify-content-center align-items-center ">
        <p>Progica | Vincent Devault | 2023-2024</p>
    </div>
</footer>