
<div class="sidebar d-flex flex-column  m-20 p-10">
    <div class="searchbar p-10 ">
        <i class="fa-solid fa-search"></i>
        <input type="text" name="" id="">
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center p-20">
        {{ form_start(form)}}
            {{ form_rest(form)}}
            <button class="btn btn-primary btn-icon-primary m-20">
                <span>Rechercher</span>
            </button>
        {{ form_end(form)}}
    </div>
</div>

