:root {
    --primary: #122ecb;
    --primary-light: #e7f9f9;
    --accent: #1fdd06;
    --warning: #ea2027;
    --success: #009432;
    --font-family: 'Open Sans', sans-serif;
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --border-radius: 3px;
    --border: 1px solid gray;
    --color: #636466;
    --color-dark: #444;
    --gray: #636466;
    --gray-dark: #444;
    --gray-light: #ddd;
    --footer-bg: #989494c1;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--font-family);
    color: var(--color);
}

h1,h2,h3,h4,h5 {
    color: var(--color-dark);
}

a {
    outline: none;
    text-decoration: none;
}


/* Flex */
.d-flex {
    display: flex;
}

.flex-row-nowrap {
    flex-flow: row nowrap;
}

.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-fill {
    flex: 1;
}
/* Margins */
.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.ml-50 {
    margin-left: 50px;
}



/* Paddings */
.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

ul {
    list-style: none;
    text-decoration: none;
}



/* general */

.content {
    width: 100%;
    max-width: 1200px;
}

.gite-content {
    box-shadow: var(--box-shadow);
}
.date-content {
    box-shadow: var(--box-shadow);
}

.gitebox {
    cursor: pointer;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.gitebox img {
    width: 200px;
    height: 200px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.gite_picture img {
    width: auto;
    height: auto;
    max-width: 700px;
    max-height: 700px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
/* header */

header {
    box-shadow: var(--box-shadow);
}

.header-logo img {
    max-width: 200px;
}

/* footer */

footer {
    background-color: var(--footer-bg);
    color: white;
}




/* sidebar */

.sidebar {
    max-width: 300px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: #f2f2f2;
    
}
.searchbar {
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    max-height: 40px;
}


.searchbar input{
    background-color: var(--gray-light);
    border: none;
    outline: none;
}

/* BTNs */
.btn {
    border-radius: var(--border-radius);
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: opacity .4s;
}

.btn:hover {
    cursor: pointer;
    opacity: .8;
}

.btn-small {
    padding: 5px 15px;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
    font-weight: 600;
}

.btn-primary-reverse {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: white;
}

/* Styles pour le formulaire */
.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-row label {
    margin-bottom: 5px;
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-dark);
}

.form-row input, .form-row textarea {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 15px;
    background-color: var(--gray-light);
}

.form-row textarea {
    min-height: 150px;
}

.form-errors {
    color: var(--warning);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi-bold);
}





/* Select */

select {
    width: auto;
    height: auto;
}